<div class="col-xs-12 col-md-5" ng-controller="OverviewController as overview">
  <aside>
    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp; <span></span> <b class="caret"></b>
    </div> 
    <div id="total_expenses">
      TOTAL: {{main.total}} 
    </div>
    <div id="categories" ng-repeat="category in main.categories">
      <span>{{category.name}}</span>
      <span>{{main.categoryTotal(category.id)}}</span>
    </div>
  </aside>
</div>
