<div class="col-xs-12 col-md-5">
  <aside ng-show="main.user.isAuthenticated()">
    <h2>OVERVIEW</h2>
    <div id="date-picker">
    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
    <input type="date" ng-model="date.from">
    <input type="date" ng-model="date.to">
    </div>
    <div id="total_expenses">
      TOTAL: {{main.total}} 
    </div>
    <div id="categories" ng-repeat="category in main.categories">
      <span>{{category.name}}</span>
      <span>{{main.categoryTotal(category.id)}}</span>
    </div>
  </aside>
</div>
