<div class="col-xs-12 col-md-5">
  <!-- ASIDE CONTENT -->
  <aside>
    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp; <span></span> <b class="caret"></b>
    </div> 
    <div id="total_expenses">
    TOTAL: 25
    </div>
    <div id="categories">
      <ul>
        <li>Car: 10</li>
        <li>Groceries: 15</li>
      </ul>
    </div>
  </aside>
</div>
